<div *ngIf="fName == ''">
  <h2 class="text-center mt-4">Sign-Up</h2>
  <div class="col-sm-6 offset-sm-3">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group mt-2 mx-3">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group mt-2 mx-3">
        <label for="phone">Phone</label>
        <input type="text" formControlName="phone" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.errors.required">phone is required</div>
        </div>
      </div>
      <div class="form-group mt-2 mx-3">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">email is required</div>
        </div>
      </div>
      <div class="form-group mt-2 mx-3">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>

      <div class="form-group mt-2 mx-3">
        <label for="confirmpassword">confirm Password</label>
        <input type="password" formControlName="confirmpassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
        <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmpassword.errors.required">confirmpassword is required</div>
        </div>
      </div>

      <div class="form-group mt-2 mx-3">
        <label for="role">Role</label>
        <select class="form-select form-select" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors  }"
          formControlName="role" aria-label=".form-select-sm example">
          <option selected>Select role</option>
          <option value="admin">Admin</option>
          <option value="developer">Developer</option>
        </select>
        <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
          <div *ngIf="f.role.errors.required">role is required</div>
        </div>
      </div>
      <div class="form-group mt-2 mx-3">
        <button class="btn btn-primary" type="submit">
          Signup
        </button>
        <a routerLink="/login" class="btn btn-link pl-4">Login</a>
      </div>
    </form>
  </div>

</div>




<div *ngIf="fName == 'add'">
  <h2 class="text-center ">{{fName | titlecase}}</h2>
  <div class="col-sm-12 ">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group mt-2 mx-3">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group mt-2 mx-3">
        <label for="phone">Phone</label>
        <input type="text" formControlName="phone" class="form-control"/>
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.errors.required">phone is required</div>
        </div>
      </div>
      <div class="form-group mt-2 mx-3">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control"/>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">email is required</div>
        </div>
      </div>
      <div class="form-group mt-2 mx-3">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>

      <div class="form-group mt-2 mx-3">
        <label for="confirmpassword">confirm Password</label>
        <input type="password" formControlName="confirmpassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
        <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmpassword.errors.required">confirmpassword is required</div>
        </div>
      </div>

      <div class="form-group mt-2 mx-3">
        <label for="role">Role</label>
        <select class="form-select form-select" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors  }"
          formControlName="role" aria-label=".form-select-sm example">
          <option selected>Select role</option>
          <option value="admin">Admin</option>
          <option value="developer">Developer</option>
        </select>
        <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
          <div *ngIf="f.role.errors.required">role is required</div>
        </div>
      </div>
      <div class="form-group mt-2 mx-3">
        <button class="btn btn-primary" type="submit">
          Add
        </button>
      </div>
    </form>
  </div>

</div>




<div *ngIf="fName == 'edit'">
  <h2 class="text-center ">{{fName | titlecase}}</h2>
  <div class="col-sm-12 ">
    <form [formGroup]="updateform" (ngSubmit)="onupdate()">

      <div class="form-group mt-2 mx-3">
        <label for="username">Username</label>
        <input type="text" formControlName="updateusername" class="form-control"/>
      </div>

      <div class="form-group mt-2 mx-3">
        <label for="phone">Phone</label>
        <input type="text" formControlName="updatephone" class="form-control"/>
      </div>

      <div class="form-group mt-2 mx-3">
        <label for="email">Email</label>
        <input type="text" formControlName="updateemail" class="form-control"/>
      </div>

      <div class="form-group mt-2 mx-3">
        <label for="role">Role</label>
        <select class="form-select form-select" formControlName="updaterole" aria-label=".form-select-sm example">
          <option selected>Select role</option>
          <option value="admin">Admin</option>
          <option value="developer">Developer</option>
        </select>
      </div>

      <div class="form-group mt-2 mx-3">
        <button class="btn btn-primary" type="submit">
          Update
        </button>
      </div>
    </form>
  </div>

</div>

